<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DAILY CHORES</title>
    <link rel="stylesheet" href="/landing.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/job.css">
    <link rel="stylesheet" href="/showjobs.css">
    <link rel="stylesheet" href="/onejob.css">
    <link rel="stylesheet" href="/update.css">
    <link rel="stylesheet" href="/user.css">
    <link rel="stylesheet" href="/finduser.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Patrick+Hand&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;700&display=swap" rel="stylesheet">
    <!-- PushAlert -->
        <script type="text/javascript">
                (function(d, t) {
                        var g = d.createElement(t),
                        s = d.getElementsByTagName(t)[0];
                        g.src = "https://cdn.pushalert.co/integrate_bdc3b8c413575f4eaa77ba554537fad7.js";
                        s.parentNode.insertBefore(g, s);
                }(document, "script"));
        </script>
        <!-- End PushAlert -->
  </head>
  <body>
    <nav>
      <div class="logo">
        <h4><a href="/">DAILY CHORES</a></h4>
      </div>
      <ul class="nav-links">
        <% if(currentUser == undefined) { %>
          <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/<%= currentUser.username %>/profile" class="nav-link"><%= currentUser.username %></a></li>
          <li class="nav-item"><a href="/<%= currentUser.username %>/jobs" class="nav-link">Post a job</a></li>
          <li class="nav-item"><a href="/jobs" class="nav-link">Find a job</a></li>
          <li class="nav-item"><a href="/find" class="nav-link">Find user</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        <% } %>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
