<%- include("partials/header") %>

<div id="covermain">
  <div id="main">
    <div id="box1">
    </div>

    <div id="box2">
      <div id="text">
        WELCOME <br> TO YOUR <br> WORKPLACE
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") %>
