body {
  background-image: linear-gradient(to left, #7579ff, #b224ef);
}

h3 {
  font-size: 24px;
}

.jobform {
  margin: 5% auto;
  width: 50%;
  border: 1px solid rgb(208, 143, 217);
  border-radius: 0.3em;
  padding: 5em;
  background-color: #fff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

label {
  display: block;
  margin-top: 15%;
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #505f75;
}

.jobform input{
  width: 100%;
  margin-top: 1em;
  text-align: center;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(115, 115, 115, 0.7);
  padding-bottom: 5%;
  font-size: 1.3em;
}


#radioheading {
  margin-top: 15%;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #505f75;

}
.radio {
  width: 28%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: #505f75;
}

.radio input {
  margin-top: 1em;
  display: inline-block;
  width: auto;
}

.radio label {
  margin-top: 0;
  display: inline-block;
  font-weight: normal;
}

.jobform textarea {
  border: 1px solid rgba(115, 115, 115, 0.7);
  font-size: 1.3em;
  width: 100%;
  margin-top: 1em;
  padding: 5%;
  resize: none;
}

.jobform textarea:focus {
  border-color: rgb(208, 143, 217);
}

.jobform textarea:focus::placeholder {
  color: transparent;
}

.jobform input:focus {
  border-color: rgb(208, 143, 217);
}

.jobform input:focus::placeholder {
  color: transparent;
}

.jobform h3 {
  font-size: 1.1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.jobform button {
  display: block;
  margin: 0 auto;
  margin-top: 2em;
  width: 200px;
  height: 40px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4em;
  background-image: linear-gradient(to left, #7579ff, #b224ef);
  border: 0;
  font-size: 1.3em;
  color: #fff;
  text-transform: uppercase;
}

.jobform button:hover {
  background-image: linear-gradient(to left, #b224ef, #7579ff);
}

@media screen and (max-width: 1024px) {
  .radio {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .jobform {
    width: 100%;
  }

  .radio {
    width: 50%;
  }
}
