

#main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

#box1 {
  width: 530px;
  height: 625px;
  background-image: url('https://res.cloudinary.com/davims6ce/image/upload/v1597557707/1_pblr2h.png');
  position: absolute;
  bottom: -100%;
  left: 30%;
  animation: anim 2s forwards, anim2 3s forwards 3s;
}

#box1:after {
  content: '';
  position:absolute;
  width: 530px;
  height: 625px;
  background-image: url('https://res.cloudinary.com/davims6ce/image/upload/v1597557706/2_meanqt.png');
  left: 0px;
  z-index: -1;
}

@keyframes anim{
    from {
      bottom: -100%;
    }
    to {
      bottom: 0%;
    }
}

@keyframes anim2 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    width: 0px;
    left: 50%;
  }
}

#box2 {
  width: auto;
  height: auto;
  font-family: 'Rock Salt', cursive;
  color: white;
  font-size: 5em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
  letter-spacing: 30px;
}

#text {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}

@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
