.job {
  background-color: white;
  margin: 2em auto;
  width: 60%;
  padding: 1em;
}

.jobtitle {
  text-align: center;
  margin:1.2em;
}

.jobdesc {
  margin: 0 auto;
  width: 80%;
}

.employer {
  text-align: right;
}
