.job {
  background-color: white;
  margin: 2em auto;
  width: 50%;
  padding: 1em;
}

.jobtitle {
  text-align: center;
  margin:1.2em;
}

.jobdesc {
  margin: 0 auto 2em auto;
  width: 90%;
  font-size: 20px;
}

.employer {
  text-align: right;
  margin-right: 1.5em;
  font-size: 18px;
}

.employer a {
  color: rgb(0, 41, 107);
  text-decoration: none;
}

.employer a:hover {
  text-decoration: underline;
}
